*.py[cod]
*.project
*.pydevproject
*.pydev
*.*~
*.po
.settings/
account/
hr_contract/
l10n_hu/
portal/
utm/
account_accountant/
hr_equipment/
l10n_in/
portal_gamification/
warning/
account_analytic_default/
hr_expense/
l10n_in_hr_payroll/
portal_sale/
web/
account_asset/
hr_gamification/
l10n_it/
portal_stock/
web_analytics/
account_bank_statement_import/
hr_holidays/
l10n_jp/
pos_cache/
web_calendar
account_budget/
hr_payroll/
l10n_lu/
pos_discount/
web_diagram/
account_cancel/
hr_payroll_account/
l10n_ma/
pos_mercury/
web_editor/
account_check_printing/
hr_recruitment/
l10n_multilang/
pos_reprint/
web_kanban/
account_extra_reports/
hr_timesheet/
l10n_mx/
pos_restaurant/
web_kanban_gauge
account_full_reconcile/
hr_timesheet_sheet/
l10n_nl/
procurement/
web_planner/
account_tax_adjustments/
hw_blackbox_be/
l10n_no/
procurement_jit/
web_settings_dashboard/
account_tax_cash_basis/
hw_escpos/
l10n_nz/
product/
website/
account_tax_python/
hw_posbox_homepage/
l10n_pa/
product_email_template/
website_blog/
account_test/
hw_posbox_upgrade/
l10n_pe/
product_expiry/
website_crm/
account_voucher/
hw_proxy/
l10n_pl/
product_extended/
website_crm_claim/
analytic/
hw_scale/
l10n_pt/
product_margin/
website_crm_partner_assign/
anonymization/
hw_scanner/
l10n_ro/
product_uos/
website_customer/
association/
im_livechat/
l10n_sa/
product_visible_discount/
website_event/
auth_crypt/
im_odoo_support/
l10n_sg/
project/
website_event_questions/
auth_ldap/
l10n_ae/
l10n_si/
project_issue/
website_event_sale/
auth_oauth/
l10n_ar/
l10n_syscohada/
project_issue_sheet/
website_event_track/
auth_signup/
l10n_at/
l10n_th/
project_timesheet/
website_form/
barcodes/
l10n_au/
l10n_tr/
purchase/
website_forum/
base_action_rule/
l10n_be/
l10n_uk/
purchase_requisition/
website_forum_doc/
base_gengo/
l10n_be_hr_payroll/
l10n_us/
rating/
website_gengo
base_geolocalize/
l10n_be_hr_payroll_account/
l10n_uy/
rating_project/
website_google_map/
base_iban/
l10n_be_intrastat/
l10n_ve/
rating_project_issue/
website_hr/
base_import/
l10n_be_invoice_bba/
l10n_vn/
report/
website_hr_recruitment/
base_import_module/
l10n_bo/
link_tracker/
report_intrastat/
website_issue/
base_setup/
l10n_br/
lunch/
report_webkit/
website_links/
base_vat/
l10n_ca/
mail/
resource/
website_livechat/
board/
/
l10n_ch/
mail_tip/
sale/
website_mail/
bus/
/
l10n_cl/
marketing/
sale_crm/
website_mail_channel/
calendar/
l10n_cn/
marketing_campaign/
sale_expense/
website_mass_mailing/
claim_from_delivery/
l10n_cn_small_business/
marketing_campaign_crm_demo/
sale_layout/
website_membership/
crm/
l10n_cn_standard/
mass_mailing/
sale_margin/
website_partner/
crm_claim/
l10n_co/
membership/
sale_mrp/
website_payment/
crm_partner_assign/
l10n_cr/
mrp/
sale_order_dates/
website_portal/
crm_project_issue/
l10n_de/
mrp_byproduct/
sale_service/
website_portal_sale/
decimal_precision/
l10n_de_skr03/
mrp_operations/
sales_team/
website_project_issue/
delivery/
l10n_de_skr04/
mrp_repair/
sale_stock/
website_project_issue_sheet/
document/
l10n_do/
note/
sale_timesheet/
website_quote/
event/
l10n_ec/
note_pad/
sms/
website_rating_project_issue/
event_sale/
l10n_es/
pad/
stock/
website_sale/
fetchmail/
l10n_et/
pad_project/
stock_account/
website_sale_delivery/
fleet/
l10n_eu_service/
payment/
stock_calendar/
website_sale_digital/
gamification/
l10n_fr/
payment_adyen/
stock_dropshipping/
website_sale_options/
gamification_sale_crm/
l10n_fr_fec/
payment_authorize/
stock_landed_costs/
website_sale_stock/
google_account/
l10n_fr_hr_payroll/
payment_buckaroo/
stock_picking_wave/
website_slides/
google_calendar/
l10n_generic_coa/
payment_ogone/
subscription/
website_theme_install/
google_drive/
l10n_gr/
payment_paypal/
survey/
website_twitter/
google_spreadsheet/
l10n_gt/
payment_sips/
survey_crm/
web_tip/
hr/
l10n_hn/
payment_transfer/
theme_bootswatch/
web_view_editor/
hr_attendance/
l10n_hr/
point_of_sale/
theme_default/

